* {
  margin: 1px;
}

.background-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #25262c;
  min-height: 100vh;
}

.heading {
  color: red;
}

.central-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: #1b1c22;
  padding: 20px;
}
